body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: rgba(170, 170, 170, 0.7);
    width: 100vw;
    background-color: rgba(25, 25, 30, 1);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h2 {
    text-align: left;
    padding-left: 20%;
}

.App {
    display: flex;
}

.canvas {
    box-shadow: 0 0 5px grey;
}

.main-player {
    width: 40%;
    margin: 10px;
    position: relative;
}

.ROI-Preview {
    width: auto;
    padding: 10px;
    position: relative;
}
